body {
    background-color: BlanchedAlmond ;
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0;
x    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: #2BA967;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}
h2 {
    color: #2BA967;
    text-align: center ;   
    font-size: 1.8em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.5em;
    line-height: 1.8em;
    color: #555;
    margin: 0px 0.5em 0.75em 0px;
}
    nav {
        background-color: SpringGreen;
                    font-size: 1.7em;
        letter-spacing: 0.04em;
        padding: 1.0em 1.0em 0.5em;
        margin: 1.0em 0 ;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav li {
        display: inline-block;
        margin: 0;
    }
    nav#utilityMenu {
        float: right;
        margin: -1.5em 0 0 0;
        padding: 0.35em;
        height: 1.3em;
    }
    nav#utilityMenu li {
        padding: 0 0.25em 0 0.2em;
        vertical-align: middle;    
    }
       section .photo1 {
               margin: 0 0 2.0em;
        padding: 1.5em  0 2.0em 1.5em;
       display: inline-block;
            float: left;
        position: relative;
        width: 550px;
        height: 800px;
        margin: 0 0.5em 2.0em 0.5em;
        padding: 1.0em;
       div.photo1img img.Pear_Tree.jpg {
        size: 500px 500px;
        margins: 25px 25px 275px 25px;
       }
    div.photo1text {
        margins; 550px 25px 25px 25px;
    }
    }
    section .photo2 {
        margin: 0 0 2.0em;
 padding: 1.5em  0 2.0em 1.5em;
display: inline-block;
     float: right;
 position: relative;
 width: 550px;
 height: 800px;
 margin: 0 0.5em 2.0em 0.5em;
 padding: 1.0em;
div.photo2img img.Pear_Tree.jpg {
 size: 500px 500px;
 margins: 25px 25px 275px 25px;
}
div.photo2text {
 margins; 550px 25px 25px 25px;
}
}
section .photo3 {
    margin: 0 0 2.0em;
padding: 1.5em  0 2.0em 1.5em;
display: inline-block;
 float: left;
position: relative;
width: 550px;
height: 800px;
margin: 0 0.5em 2.0em 0.5em;
padding: 1.0em;
div.photo3img img.Pear_Tree.jpg {
size: 500px 500px;
margins: 25px 25px 275px 25px;
}
div.photo3text {
margins; 550px 25px 25px 25px;
}
}
section .photo4 {
    margin: 0 0 2.0em;
padding: 1.5em  0 2.0em 1.5em;
display: inline-block;
 float: right;
position: relative;
width: 550px;
height: 800px;
margin: 0 0.5em 2.0em 0.5em;
padding: 1.0em;
div.photo4img img.Pear_Tree.jpg {
size: 500px 500px;
margins: 25px 25px 275px 25px;
}
div.photo4text {
margins; 550px 25px 25px 25px;
}
}
    footer {
        background-color: SpringGreen;
        height: 25px;
        font-size: 1.2em;
              text-align: center;
        padding: 1.5em 2.0em;
    }
    footer ul#menuFooter {
        display: inline-block;
        list-style: none;
        margin: 0 0 0 0.6em;
        padding: 0;
    }
    footer ul li {
        display: inline-block;
        padding: 0 0.7em 0 0;
        margin: 0;
    }
    footer ul li::before {
        content: "| ";
        padding-right: 0.7em;
    }
    div.clear { 
        clear:both;
        font-size: 1%;
    }
    