body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: burlywood;
color: forestgreen
}
header {
    background-color: springgreen;
    color: saddlebrown
}
footer {
    background-color: springgreen;
    color: saddlebrown
}
h1 {
    font-size:x-large;
    color: darkgreen;
    text-align: center
}
h2 {
    font-size: large;
    text-align: center
}
h3 {
    font-size: medium;
color: saddlebrown
}      
.pho    to1 {
width: 40%;
border-color: saddlebrown;
border-width: medium;
border-style: groove;
margin: 8rem, 10rem, 8rem, 10rem;
    }
#UtilityMenu {
width: 10%;
float: right;
color: steelblue
}
#SiteMenu {
width: 10%;
float: left;
color: steelblue
}
.sidebar {
width: 30%;
float: left ;
background-color: springgreen;
}
.main {
background-color: palegreen;

}footer {
-ms-text-combine-horizontal: all;
background-color: springgreen;
color: saddlebrown
}
